---
import Github from './icons/Github.astro';
import Globe from './icons/Globe.astro';
import type { CollectionEntry } from 'astro:content';

type Props = {
  entry: CollectionEntry<'projects'>;
};

const { entry } = Astro.props as Props;
const { title, preview, links, description, status, technologies } = entry.data;
---

<li
  class='flex flex-col gap-4 justify-between border border-dashed rounded-lg backdrop-blur-md card z-10 bg-card overflow-hidden px-4 pt-2 pb-4'
>
  <div class='flex flex-col gap-2'>
    <div class='flex justify-between items-center'>
      <a
        href={`/${entry.collection}/${entry.data.slug}`}
        class='hover:underline font-mono flex items-center group'
      >
        <p class='font-medium lg:text-lg font-sans'>
          {title}
        </p>
      </a>

      <div class='flex items-center gap-2'>
        {
          links.repo && (
            <a
              href={links.repo}
              target='_blank'
              class='rounded-md p-2 text-sm w-fit transition duration-300 border border-transparent hover:border-border'
            >
              <span class='sr-only'>view source code on github</span>
              <Github />
            </a>
          )
        }
        {
          links.live && (
            <a
              href={links.live}
              target='_blank'
              class='rounded-md p-2 text-sm w-fit transition duration-300 border border-transparent hover:border-border'
            >
              <span class='sr-only'>view the live site</span>
              <Globe />
            </a>
          )
        }
        <!-- <div
          class='inline-flex items-center rounded-lg px-2 py-1 text-sm font-medium'
        >
          <span class='relative flex h-2 w-2 mr-2'>
            <span
              class={`absolute inline-flex h-full w-full animate-ping rounded-full ${status === 'dev' ? 'bg-yellow-400' : 'bg-green-400'} opacity-75`}
            ></span>
            <span
              class={`relative inline-flex h-2 w-2 rounded-full ${status === 'dev' ? 'bg-yellow-400' : 'bg-green-400'}`}
            ></span>
          </span>
        </div> -->
      </div>
    </div>
    <p class='text-muted-foreground text-sm'>
      {description}
    </p>
  </div>
  <ul class='flex items-center gap-3 flex-wrap mt-auto'>
    {
      technologies.map((tech) => (
        <li class='bg-background/80 py-1 px-2 text-xs border rounded-md font-mono'>
          {tech}
        </li>
      ))
    }
  </ul>
</li>
