---
import Github from './icons/Github.astro';
import Globe from './icons/Globe.astro';
import Link from './Link.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content'

type Props = {
  entry: CollectionEntry<'projects'>
}

const { entry } = Astro.props as Props;
const { title, preview, links, description, status } = entry.data
---

<li
  class={`flex flex-col gap-4 border border-dashed rounded-lg backdrop-blur-md card z-10 bg-card`}
>
  {
    preview && (
      <div class='relative group overflow-hidden z-10 rounded-t-lg'>
        <Image src={preview.src} alt={preview.alt} width={500} height={240} />
      </div>
    )
  }
  <div class='flex flex-col gap-2 px-4 pt-2 pb-4'>
    <div class='flex justify-between'>
      <h2 class='font-semibold italic text-lg lg:text-xl tracking-wider'>
        {title}
      </h2>
      <div
        class='inline-flex items-center rounded-lg px-2 py-1 text-sm font-medium'
      >
        <span class='relative flex h-2 w-2 mr-2'>
          <span
            class={`absolute inline-flex h-full w-full animate-ping rounded-full ${status === 'dev' ? 'bg-yellow-400' : 'bg-green-400'} opacity-75`}
          ></span>
          <span
            class={`relative inline-flex h-2 w-2 rounded-full ${status === 'dev' ? 'bg-yellow-400' : 'bg-green-400'}`}
          ></span>
        </span>
      </div>
    </div>
    <p class='text-muted-foreground text-sm'>
      {description}
    </p>
    <div class='flex justify-between'>
      <Link href={`/${entry.collection}/${entry.slug}`}>Details</Link>
      <div class='flex items-center gap-4'>
        {
          links.repo && (
            <Link
              href={links.repo}
              external
              variant='icon'
              class='rounded-md p-2 text-sm w-fit transition duration-300 hover:bg-border'
            >
              <span class='sr-only'>view source code on github</span>
              <Github />
            </Link>
          )
        }
        {
          links.live && (
            <Link
              href={links.live}
              external
              variant='icon'
              class='rounded-md p-2 text-sm w-fit transition duration-300 hover:bg-border'
            >
              <span class='sr-only'>view the live site</span>
              <Globe />
            </Link>
          )
        }
      </div>
    </div>
  </div>
</li>
