---
import { getCollection, render } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
import { SITE } from '@/lib/constants';
import Link from '@/components/Link.astro';
import Prose from '@/components/Prose.astro';
import { Image } from "astro:assets";

export const prerender = true;

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  return projectEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout
  title={`${entry.data.title} - ${SITE.TITLE}`}
  description={entry.data.description}
  image={entry.data.image}
>
  <Container class='border-t border-dashed'>
    <div
      class='sm:border-x sm:border-dashed sm:px-2 bg-background/60 min-h-[calc(100vh-88px)] sm:min-h-[calc(100vh-103px)] lg:min-h-[calc(100vh-120px)] py-6 sm:py-8 md:py-10 z-10 relative backdrop-blur-md'
    >
      <section class='max-w-2xl mx-auto mb-10 space-y-6'>
        <!-- <Link href='/projects' class='w-fit'> Back to projects</Link> -->
        <div class='space-y-3'>
          <h1
            class='text-3xl sm:leading-tight sm:text-4xl md:text-5xl font-serif'
          >
            {entry.data.title}
          </h1>
        </div>
        <div class='grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4'>
          {
            entry.data.links.repo && (
              <Link href={entry.data.links.repo} external>
                {' '}
                View repository{' '}
              </Link>
            )
          }
          {
            entry.data.links.live && (
              <Link href={entry.data.links.live} external>
                {' '}
                Visit website{' '}
              </Link>
            )
          }
        </div>
      </section>
      {
        entry.data.preview && (
        <div>
          <Image src={entry.data.preview.src} alt={entry.data.preview.alt} class="w-full max-w-3xl mx-auto mb-8 border border-dashed" />
        </div>
        )
      }
      <Prose>
        <Content />
      </Prose>
    </div>
  </Container>
</Layout>
